

.content-sbBlog-contain{background: #fff; padding: 15px 0; margin: 0 0 30px 0; width: 100%; float: left; max-width: 300px; min-height: 400px; margin: 0 15px; border: solid 1px #e9e9e9;    }
.content-sbBlog-wrap{ border: none; padding: 0!important; background: #f00; }

h3.ccm-page-list-title a{ padding: 8px 0; color: #f00; }
.Blogdivider{ width: 96%; border-top: solid 1px #e9e9e9; padding: 0 0 15px 0; margin: 15px 2% 0 2%; float: left;}
a.readmore{ color: #f39117;}


.content-sbBlog-commentcount{ background: #ccc;}