.content-sbBlog-commentcount{margin-right: 25px; clear: right; float: right;}
.content-sbBlog-share{ margin-right: 25px; clear: right; float: right; }
.chicklets{padding-left: 10px!important;}

.content-sbBlog-contain{background: #fff; padding: 15px 0; margin: 0 0 30px 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
box-shadow: 0 1px 2px 1px rgba(0,0,0,.1); }

.content-sbBlog-commentcount{ background: #ccc;}

.content-sbBlog-wrap{ border: none; padding: 0!important; background: none;}

h3.ccm-page-list-title{ font-family: 'Lato', sans-serif; padding: 10px 0 0 0; }

a.readmore{ color: #f39117;}