.content-sbBlog-commentcount{margin-right: 25px; clear: right; float: right;}
.content-sbBlog-share{ margin-right: 25px; clear: right; float: right; }
.chicklets{padding-left: 10px!important;}

.content-sbBlog-contain{ float: left; }

.content-sbBlog-commentcount{ background: #ccc;}

.content-sbBlog-wrap{ border: none; padding: 0!important; background: none;}

h3.ccm-page-list-title, h3.ccm-page-list-title a{ padding: 5px 0 8px 0; color: #84B400;  }

.blogContent p{ font-size: 14px;}
.nopadRight{padding-right: 0!important;}
.thumbnail{padding: 5px 0 0 0;}

.Blog-Comments p{ text-align: right; font-size: 14px; display: block; width: auto; float: right;
background: url(blog-icons.gif) no-repeat 0px 1px; padding: 0 0 3px 25px; }


a.readmore{ color: #84B400; font-size: 14px;}